@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add fade animation */
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
html,body {
  height: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#top {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro {
  flex-grow: 1;
}

.animate-fade {
  animation: fade 0.7s ease-in-out;
}

.btn-crimson {
  background-color: #DC143C;
  color: white;
  border: 2px solid #DC143C;
}

.text-crimson {
  color: #DC143C;
}

.btn-crimson:hover {
  background-color: white;
  color: #DC143C;
  border: 2px solid #DC143C;
}


